body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    background-color: rgb(167, 212, 197);
}

h2 {
    background-color: pink;
}

p{
    font-size: 18px;
    font-style: italic;
}

div.recipe1, .recipe2, .recipe3 {
    text-align: center;
    padding: 20px;
    margin: 12px;
}

div.pizza-photo {
    width: 200px;
    height: auto;
    margin-top: 25px;
    margin-left: 550px;
}

div.description {
    text-align: center;
    margin-top: 35px;
}

div.spaghetti-photo{
    width: 200px;
    height: auto;
    margin-top: 25px;
    margin-left: 600px;
}

div.empanadas-photo{
    width: 200px;
    height: auto;
    margin-top: 25px;
    margin-left: 700px;
}