body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    padding:  2rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.recetasmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.frase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipes {
    width: 100%;
    margin-top: 100px;
    padding: 2rem;
    background-color: rgb(118, 143, 135);
}


h2 {
    background-color: rgb(135, 156, 150);
}

p{
    font-size: 18px;
    font-style: italic;
}

.empanadasbystep {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleemp {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 25px;
    margin-top: 25px;
}

@media only screen and (max-width: 768px) {
    div {
      width: 100%;
    }
  }

  @media only screen and (min-width: 320px) {
    .recetasmenu {
      flex-wrap: wrap;
    }
  }

footer {
    padding: 25px;
    margin-top: 50px;
    background-color: rgb(84, 102, 102);
}